@media (min-width: 992px) {
  .desktop-nav {
    display: block;
  }

  .mobile-nav {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}

/* Mobile screen styles */
@media (max-width: 991px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-menu.active {
    display: block;
  }
}
